<section ng-controller="ProjectsController" ng-init="urls({projectId: project._id});">
  <div class="page-header">
    <h1>
      <span>{{project.title}}</span>
    </h1>
    <p class="lead" ng-bind="project.description"></p>
  </div>
  <div>
      <h2>URL Report</h2>
    <table class="table-condensed" ng:repeat="request in projectHarURLs">
      <thead>
        <tr>
          <th>Verb</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <tr ng:repeat="url in request.requests">
          <td>{{url.verb}}</td>
          <td>{{url.path}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>