<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <h1>Http Archive Pipeline</h1>
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="A Harpy" class="img-responsive" src="modules/core/client/img/brand/logo.png" />
        <em>“...a leering, sneering obscene little harpy...”</em>
      </div>
    </div>
  </div>
  <div>
    <ul class="list-group">
      <a class="list-group-item" ui-sref="projects.list">
        <span class="badge">{{projects.length}}</span>
        Active projects
      </a>
    </ul>
  </div>
</section>