<section>
  <div class="page-header">
    <h1>
    <span data-ng-bind="vm.har.name"></span>
    <div class='btn-toolbar pull-right' ng-show="vm.har.isCurrentUserOwner">
      <div class='btn-group'>
        <a class="btn btn-primary" ui-sref="hars.edit({harId: vm.har._id})">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn btn-danger" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
    </h1>
  </div>
  <!--<p class="lead"></p>
  <div class="row">
    <div class="pull-right">
      <a class="btn btn-primary"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    </div>
  </div>-->
  <div class="row">
    <div class="well" ui-ace="{ showGutter: true,
      theme:'monokai',
      mode: 'json',
    onLoad: aceLoaded }"></div>
  </div>
    <div class="row">
    <div class="pull-right">
      <a class="btn btn-success"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    </div>
  </div>
</section>