<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.har._id"></h1>
  </div>
  <div class="pull-right" data-ng-show="vm.har.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref=
    "hars.edit({ harId: vm.har._id })"></a> <a class="btn btn-primary"
    data-ng-click="vm.remove()"></a></div>
    <p class="lead"></p>
    <!-- <div class="well" ui-ace="{ showGutter: true, theme:'monokai', mode: 'json', onLoad: aceLoaded }">
  </div> -->
  <div class="row">
    <div class="pull-right">
      <a class="btn btn-primary"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    </div>
  </div>
  <div class="row">

  <div class="well" ui-ace="{ showGutter: true,
   theme:'monokai',
    mode: 'json',
  onLoad: aceLoaded }"></div>
  </div>
</section>
