<section>
    <div class="page-header">
        <h1>
            <span data-ng-bind="vm.har.name"></span> Har
            <div class='btn-toolbar pull-right' ng-show="vm.har.isCurrentUserOwner">
                <div class='btn-group'>
                    <a class="btn btn-primary" ui-sref="hars.edit({harId: vm.har._id})" uib-tooltip="edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" ng-click="vm.remove()" uib-tooltip="delete">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
        </h1>
    </div>
    <div class="row-fluid">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Summary">
                <h3>Entries</h3>
                <p>
                    <div data-ng-repeat="entry in vm.har.log.entries">
                        <p><strong><span data-ng-bind="entry.startedDateTime" /></strong></p>
                        <p>Method: <span data-ng-bind="entry.request.method" /></p>
                        <p>URL: <span data-ng-bind="entry.request.url" /></p>
                    </div>
                </p>
            </uib-tab>
            <uib-tab index="1" heading="UML">
                <p>
                    <div class="row-fluid">
                        <h3>Sequence Diagram
                            <div class="pull-right">
                                <a class="btn btn-success" ng-click="vm.plantify()" uib-tooltip="Generate a sequence diagram">Generate</a>
                            </div>
                        </h3>
                        <img ng-src="{{umlImageUrl}}">
                    </div>
                </p>
            </uib-tab>
            <uib-tab index="2" heading="Swagger">
                <h3>
                    OpenAPI (Swagger) Specifications
                    <div class="pull-right">
                        <a class="btn btn-success" ng-click="vm.swaggerfy()" uib-tooltip="Generate Swagger from Har">Generate</a>
                    </div>
                </h3>
                <div class="list-group">
                    <li data-ng-repeat="spec in vm.har.specs" class="list-group-item" data-ui-sref="specs.view({ specId: spec })">
                        <h4 class="list-group-item-heading" data-ng-bind="spec"></h4>
                    </li>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <script type="text/ng-template" id="errorModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" data-ng-bind="errorHeader"></h3>
        </div>
        <div class="modal-body" id="modal-body" data-ng-bind="errorText">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.closeModal()">Close</button>
        </div>
    </script>



</section>