<section>
  <div class="page-header">
    <h1>
      <span>{{vm.spec.title}} Specification</span>
      <div class="pull-right" data-ng-show="vm.spec.isCurrentUserOwner">
        <a class="btn btn-danger" data-ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </h1>
  </div>

  <!--<small>
    <em class="text-muted">
      Created on
      <span data-ng-bind="vm.spec.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.spec.user"
            data-ng-bind="vm.spec.user.displayName"></span>
      <span data-ng-if="!vm.spec.user">Deleted User</span>
    </em>
  </small>-->
  <uib-tabset active="active">
    <uib-tab index="0" heading="Swagger">
      <div class="pull-right" data-ng-show="vm.spec.isCurrentUserOwner">
        <a class="btn btn-primary" data-ui-sref="specs.edit({ specId: vm.spec._id })">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <!--<a href="{{swaggerUrl}}">
          Download
        </a>-->
        <a class="btn btn-primary" data-ng-click="vm.testSwagger()">
          <i class="glyphicon glyphicon-check"></i>
        </a>
      </div>
      <div swagger-ui input-type="url" input="swaggerUrl" trusted-sources="true" validator-url="false" api-explorer="true" parser="json"></div>
    </uib-tab>
    <uib-tab index="1" heading="RAML">
    </uib-tab>
    <uib-tab index="2" heading="API Blueprint">
    </uib-tab>
  </uib-tabset>
</section>